* {

    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.reglage-header {
    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 5px;
}

.img-logo {
    height: 38px;
    object-fit: cover;
    border-radius: 1rem 0px 0px 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.localisation {
    display: flex;
    background-color: #eaeaea;
    width: 100%;
}

.text-localisation {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    text-align: center;
}

.titre-header {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3rem;
    margin-bottom: 5px;


}

.text-header {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;

}

.bouton-header {
    border: 0;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .25);
    margin-bottom: 5rem;
    transition: 800ms;

}

.bouton-header:hover {
    background-image: linear-gradient(0deg, rgba(170, 115, 235, 0.9), rgba(242, 160, 219, 0.9));
    box-shadow: 1rem 1rem 10px rgba(0, 0, 0, .25);
    transition: 800ms;
}

.texte-bouton-header {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.sous-titre {
    margin-top: 3rem;
}

.liste-explication {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.effet-explication {
    border-radius: 30px 30px 30px 30px;
    font-family: "Raleway";
    font-weight: bold;
    padding: 1.5rem;
    border: solid;
    display: inline-flex;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    margin: 12px;
    text-decoration: none;
    color: black;
    position: relative;
    align-items: center;
    justify-content: center;
}



.liste-numero {
    background: #9356dc;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    position: absolute;
    left: -0.75rem;
    color: white;
}

.icone-fonctionnement {
    position: absolute;
    left: 10px;
}

.restaurants-et-menu {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.titre-rangement-restaurants {}

.restaurants {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 1.5rem;
    position: relative;
}

.lien-restaurants {
    text-decoration: none;
    color: black;
}

.image-restaurants {
    height: 14rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
}

.zone-restaurants {
    display: flex;
    justify-content: space-between;
}

.zone-de-text-restaurants {
    margin-left: 1rem;
}

.nom-restaurants {}

.description-nom {}

.coeur-container {
    align-items: center;
    display: flex;
    margin-right: 1rem;
    font-size: 2rem;

}

.coeur {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coeur-empty {}

.coeur-animated{
    
        position: absolute;
        display: flex;
        height: 100%;
        overflow: hidden;
        bottom: 0;
        width: 100%;
        
      
}

.coeur-full {
    position: absolute;
    bottom: 0;
}

.new {
    background: #99E2D0;
    color: #0c6b50;
    padding: 1rem;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.site-footer {
    display: flex;
    flex-direction: column;
    background-color: black;

}

.titre-footer {
    color: white;
    font-family: shrikhand;
    margin-left: 15px;
}

.lien-footer {
    color: white;
    text-decoration: none;
    margin: 0.19rem;
    margin-left: 15px;

}


/**PAGE 2!******************************************************************************/


.logo-page2 {
    display: flex;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;

}

.image-header-page2 {

    height: 22rem;

}

.restaurants-et-menu-page-2 {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 30px 30px 0 0;
    margin-top: -55px;
    position: relative;
}

.titre-rangement-menu {}


.lien-menu {
    text-decoration: none;
    color: black;
}


.description-detail {}

.menu {}

.lien-menu {
    display: flex;
    justify-content: space-between;



}

.plat {
    background-color: white;

    border-radius: 20px;
    margin: 1.5rem;


}

.zone-text-menu {}

.nom-menu {}

.description-nom-menu {}

.prix-menu {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

.zone-bouton {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}