* {

    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.réglage-header {
    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);
    margin-left: auto;
    margin-right: auto;
}

.img-logo {
    height: 38px;
    object-fit: cover;
    border-radius: 1rem 0px 0px 1rem;
    margin-top: 1rem;
}


.localisation {
    display: flex;
    margin: 1rem auto 0 auto;
    background-color: #D9D9D9;
    width: 100%;
}

.text-localisation {
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.titre-header {
    margin-left: 10%;
    margin-right: 10%;


}

.text-header {
    margin-left: 10%;
    margin-right: 10%;

}

.bouton-header {
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .25);
    margin-bottom: 3rem;

}

.texte-bouton-header {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.sous-titre {}

.liste-explication {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.effet-explication {
    border-radius: 30px 30px 30px 30px;
    font-family: "Raleway";
    font-weight: bold;
    padding: 12px;
    border: solid;
    
    display: inline-flex;
    border-color: #D9D9D9;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    margin: 12px;
    text-decoration: none;
    color: black;
    position: relative;
    align-items: center;
}

.liste-numero {
    background-color: purple;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    position: absolute;
    left: -0.75rem;
  }

.restaurants-et-menu {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.titre-rangement-restaurants {}

.restaurants {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 1.5rem;
    position: relative;
}

.lien-restaurants {
    text-decoration: none;
    color: black;
}

.image-restaurants {
    height: 14rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
}

.zone-restaurants{
    display: flex;
    justify-content: space-between;
}

.zone-de-text-restaurants{
    margin-left: 1rem;
}

.nom-restaurants {}

.description-nom {}

.coeur {
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }

  .new{
    background-color: green;
    color: white;
    padding: 1rem;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
  }


.site-footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    
}

.titre-footer {
    color: white;
    font-family: shrikhand;
    margin-left: 15px;
}

.lien-footer {
    color: white;
    text-decoration: none;
    margin: 0.19rem;
    margin-left: 15px;
    
}


/**PAGE 2!******************************************************************************/

.image-header-page2 {

    height: 3rem;
    width: 20%;
}

.titre-rangement-menu {

}


.description-detail{

}

.prix {

}