* {

    box-sizing: border-box;
}

/***Loader********************************************************************


.loader {
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: custom-loader 5s forwards;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 2s;
}

@keyframes custom-loader {

    0% {
        
        opacity: 1;

    }

    90% {
        
        opacity: 1;

    }

    100% {
        
        
       opacity: 0;

    }

}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }

/**Loader********************************************************************/

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.reglage-header {
    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 5px;
}

.img-logo {
    height: 38px;
    object-fit: cover;
    border-radius: 1rem 0px 0px 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.localisation {
    display: flex;
    background-color: #eaeaea;
    width: 100%;
}

.text-localisation {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    text-align: center;
}

.titre-header {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3rem;
    margin-bottom: 5px;


}

.text-header {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;

}

.bouton-header {
    border: 0;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .25);
    margin-bottom: 5rem;
    transition: 800ms;

}

.bouton-header:hover {
    background-image: linear-gradient(0deg, rgba(170, 115, 235, 0.9), rgba(242, 160, 219, 0.9));
    box-shadow: 1rem 1rem 10px rgba(0, 0, 0, .25);
    transition: 800ms;
}

.texte-bouton-header {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.sous-titre {
    margin-top: 3rem;
}

.liste-explication {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.effet-explication {
    border-radius: 30px 30px 30px 30px;
    font-family: "Raleway";
    font-weight: bold;
    padding: 1.5rem;
    border: solid;
    display: inline-flex;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    margin: 12px;
    text-decoration: none;
    color: black;
    position: relative;
    align-items: center;
    justify-content: center;
}



.liste-numero {
    background: #9356dc;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    position: absolute;
    left: -0.75rem;
    color: white;
}

.icone-fonctionnement {
    position: absolute;
    left: 10px;
}

.restaurants-et-menu {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.titre-rangement-restaurants {}

.restaurants {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 1.5rem;
    position: relative;
}

.lien-restaurants {
    text-decoration: none;
    color: black;
}

.image-restaurants {
    height: 14rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
}

.zone-restaurants {
    display: flex;
    justify-content: space-between;
}

.zone-de-text-restaurants {
    margin-left: 1rem;
}

.nom-restaurants {}

.description-nom {}

.coeur-container {
    align-items: center;
    display: flex;
    margin-right: 1rem;
    font-size: 2rem;

}

.coeur {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coeur-empty {}

.coeur-animated {

    position: absolute;
    display: flex;
    height: 0%;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    transition: 1s
}



.coeur:hover .coeur-animated {


    height: 100%;
    transition: 1s
}

.coeur-full {
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, rgba(158, 82, 179, 1) 86%, rgba(182, 79, 161, 1) 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.new {
    background: #99E2D0;
    color: #0c6b50;
    padding: 1rem;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.site-footer {
    display: flex;
    flex-direction: column;
    background-color: black;

}

.titre-footer {
    color: white;
    font-family: shrikhand;
    margin-left: 15px;
}

.lien-footer {
    color: white;
    text-decoration: none;
    margin: 0.19rem;
    margin-left: 15px;

}


/**PAGE 2!******************************************************************************/


.logo-page2 {
    display: flex;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    position: relative;
}

.image-header-page2 {
    height: 22rem;
}

.retour {
    position: absolute;
    left: 35px;
    bottom: 40%;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.restaurants-et-menu-page-2 {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 30px 30px 0 0;
    margin-top: -55px;
    position: relative;
}

.titre-rangement-menu {
    text-transform: uppercase;
    margin-left: 29px;
    padding-bottom: 9px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-top: 38px;
    margin-bottom: -11px;
}

.titre-rangement-menu::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 40px;
    bottom: 0;
    left: 0;
    background: #99E2D0;
}


.lien-menu {
    text-decoration: none;
    color: black;
}


.description-detail {}

.menu {
    animation: slideup 1s forwards;
    opacity: 0;
    animation-delay: calc(2s / 5);

}



@keyframes slideup {
    0% {
        transform: translatey(20px);
        opacity: 0%;
    }

    100% {
        transform: translatey(0px);
        opacity: 100%;
    }

}

.lien-menu {
    display: flex;
    justify-content: space-between;
    transition: 2s;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 20px;
}

.plat {
    animation: slideup 1s forwards;
    opacity: 0;

    background-color: white;
    border-radius: 20px;
    margin: 1.5rem;
}

.plat-animated-one {
    animation-delay: 1s;
}

.plat-animated-two {
    animation-delay: 1.5s;
}

.plat-animated-three {
    animation-delay: 2s;
}

.zone-text-menu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 17px;
    flex-grow: 1;
}


.nom-menu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.description-nom-menu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.prix-menu {
    display: flex;
    margin-right: 15px;
    margin-top: 32px;
    margin-bottom: 13px;
    white-space: nowrap;
    align-items: flex-end;
    font-weight: bold;
}

.validation {
    overflow: hidden;
    height: 67px;
    white-space: nowrap;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    transition: 700ms;
    text-align: center;
    width: 0;
    flex-shrink: 0;
    background-color: #99e2d0;
    color: #f6f6f6;

}

.icone-validation {
    margin: 0 10px 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lien-menu:hover .fa-check-circle {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(360deg);

}


.lien-menu:hover .validation {
    cursor: pointer;
    width: 70px;
    transition: 700ms;

}

.zone-bouton {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

/**MEDIA DESKTOP**********************************************************/

@media (min-width: 585px) and (max-width:771px) {

    body {
        background-color: #0c6b50;
    }

    .container {
        width: 90%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        display: none;
    }

    .liste-explication {}

    .rangement-fonctionnement-desktop {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;

    }

    .liste-explication {
        flex-direction: row;
      }

    .logo-desktop {
        display: flex;
        justify-content: center;
    }

    .text-logo-desktop {
        display: flex;
        font-size: 3rem;
        font-family: shrikhand, cursive;
       
    }

    .effet-explication {
        font-size: 0.8rem;

    }

}